<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Run Chrome" type="ChromiumRemoteDebugType" factoryName="Chromium Remote" port="5173">
    <method v="2" />
  </configuration>
</component>