[algokit]
min_version = "v1.3.0b1"

[generate.import_contract]
description = "Import a typed client from your smart contracts project"
path = ".algokit/generators/import_contract"

[project]
type = "frontend"
name = '{{ project_name }}'
artifacts = "src/contracts"

[project.run]
build = { commands = ['npm run build'], description = 'Build frontend' }
test = { commands = ['npm run test'], description = 'Run frontend tests' }
{% if use_eslint_prettier -%}
lint = { commands = ['npm run lint'], description = 'Lint frontend code' }
{% endif -%}
{% if cloud_provider == 'vercel' -%}
ci-deploy-vercel = { commands = [
    'npm install --global vercel@latest',
    'npm run ci:vercel:pull',
    'npm run ci:vercel:deploy',
  ], description = 'Deploy to Vercel' }
{% elif cloud_provider == 'netlify' -%}
ci-deploy-netlify = { commands = [
    'npm install --global netlify-cli@latest',
    'netlify login',
    'netlify deploy --build --prod'
  ], description = 'Deploy to Netlify' }
{% endif -%}

