{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": "warn",
        "no-console": "warn",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "^_",
                "destructuredArrayIgnorePattern": "^_"
            }
        ],
        "prefer-template": "error"
    },
    "overrides": [
      {
      "files": [
        "*.algo.ts"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "object-shorthand": "off",
        "class-methods-use-this": "off",
        "no-undef": "off",
        "max-classes-per-file": "off",
        "no-bitwise": "off",
        "operator-assignment": "off",
        "prefer-template": "off",
        "prefer-destructuring": "off"
      }
    }
  ]
}
