/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ['./src/**/*.{js,ts,jsx,tsx}'],
  theme: {
    extend: {},
  },
  {% if use_daisy_ui -%}
  daisyui: {
    themes: ['lofi'],
  },
  plugins: [require('daisyui')],
  {%- endif %}
}
