import React from 'react'
import ReactDOM from 'react-dom/client'
import App from './App'
{% if use_tailwind -%}
import './styles/main.css'
{% elif use_tailwind == false -%}
import './styles/App.css'
{% endif -%}


ReactDOM.createRoot(document.getElementById('root') as HTMLElement).render(
  <React.StrictMode>
    <App />
  </React.StrictMode>,
)
