name: Validate {{ project_name }}

on:
  {% if not use_workspace %}
  workflow_call:
  pull_request:
  {% else %}
  workflow_call:
  {% endif %}

jobs:
  validate:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install algokit
        run: pipx install algokit

      - name: Install dependencies
        run: algokit project bootstrap all {% if use_workspace %}--project-name '{{ project_name }}'{% endif %}

      {% if use_eslint_prettier %}
      - name: Run linters
        run: algokit project run lint {% if use_workspace %}--project-name '{{ project_name }}'{% endif %}
      {% endif %}
      {% if use_jest %}
      - name: Run unit tests
        run: algokit project run test {% if use_workspace %}--project-name '{{ project_name }}'{% endif %}
      {% endif %}

      - name: Build
        run: algokit project run build {% if use_workspace %}--project-name '{{ project_name }}'{% endif %}
