{
  "recommendations": [
    "EditorConfig.EditorConfig",
    "dotenv.dotenv-vscode",
    {% if use_eslint_prettier -%}
    "esbenp.prettier-vscode",
    "dbaeumer.vscode-eslint",
    "krysenlo.vite-plugin-eslint-problemmatcher",
    {% endif -%}
    {% if use_playwright -%}
    "ms-playwright.playwright",
    {% endif -%}
    {% if use_jest -%}
    "Orta.vscode-jest",
    {% endif -%}
    {% if use_tailwind -%}
    "bradlc.vscode-tailwindcss",
    "csstools.postcss",
    {% endif -%}
   ]
}

